html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
   
    background-color: white;
}

.navbar {
    top: 0;
    width: 100%;
    background: #4060b9;
    color: white;
    align-items:center;
    padding: 15px 15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
}

nav ul li {
    margin: 10px 50px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    
}

nav ul li a:hover {
    color: black;
} 

section {
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 100px;
    margin: 20px;
    background: rgb(66, 133, 244);
    border-radius: 10px;
    background: linear-gradient(to right, #50d0ed, #4060b9);
    scroll-margin-top: 65px;
}
section:hover {
    transform:translateY(-3px);
    transition: 0.5s;
}
section h1,h2{
    text-align:center;
}

#home{
    margin-top: 40px;
}
.home-content{
    text-align: center;
}
.home-content button {
    padding: 10px 20px;
    border: none;
    background: blue;
    color: white;
    cursor: pointer;
}

.project-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-card {

    margin: 10px;
    border: 3px solid #ccc;
    border-radius: 3px;
    width: 200px;
    text-align: center;
}

.project-card button{
    border:20px;
    background: blue;
    width: 100%    
}

form {
    display: flex;
    flex-direction:column;
    max-width: 400px; 
    margin: 0 auto;
    background-color:rgb(95, 171, 242);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    
}

input, textarea {
    padding: 10px;
    margin-bottom: 25px;     
}

button {
    padding: 10px;
    border: none;
    background: blue;
    color: white;
}
button:hover {
    background: #333;
}
form:hover {
    transform:translateY(-3px);
    transition: 0.3s;
}

footer {
    background: #4060b9;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.social-icons i {
    font-size: 2rem;
    margin: 10px;
    color: white;
}

.social-icons i:hover {
    color:black;
}

*{
    box-sizing: border-box;
}

@media (max-width: 576px) {

    body {
        font-size: 14px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    section {
        margin: 0;
        padding: 20px;
    }
    .home-content{
        align-items: center;
    }
    .home-content h1 {
        font-size: 1.5rem;
        line-height: 1.4;
    }

    .project-card {
        max-width: 300px;
    }
}


@media (max-width: 992px) {

    body {
        font-size: 16px;
    }

    .project-card {
        width: 45%;
        max-width: 300px;
    }
}

@media (min-width: 1600px) {

    body {
        max-width: 1500px;
        margin: auto;
    }

    .home-content h1 {
        font-size: 2.5rem;
    }

    section {
        padding: 60px;
    }
}


/*
*{
    box-sizing: border-box;
}

@media (max-width: 576px) {
    body{
        font-size: xx-large;
    }
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .navbar ul {
        flex-direction: column;
        gap: 5px;
    }

    #home {
        padding: 10px 10px;
    }

    section {
        padding: 10px;
        margin: 10px;
    }

    .project-container {
        flex-direction: column;
        align-items: center;
    }

    .project-card {
        width: 90%;
    }
}

@media (max-width: 992px) {
body{
    font-size: x-large;
}
.navbar {
        flex-direction: column;
        text-align: center;
    }
    .navbar ul {
        gap: 10px;
    }

    .hero {
        height: auto;
        padding: 20px;
    }

    .project-container {
        justify-content: center;
    }

    .project-card {
        width: 90%;
    }
}

@media (max-width: 1200px) {
body{
    font-size: medium;
}
.navbar {
        flex-direction: column;
        text-align: center;
    }
    .navbar ul {
        gap: 1px;
    }
section{
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 4px;
    padding-bottom: 10px;
}
    #home {
        height: auto;
        padding: 5px;
    }

    .project-container {
        justify-content: center;
    }

    .project-card {
        width: 80%;
    }
}


@media (min-width: 1600px) {

    .hero h1 {
        font-size: larger;
    }

    .project-card {
        width: 280px;
    }

    section {
        padding: 60px;
    }
}